{%extends 'bootstrap/base.html'%}


{% block title%}

    A stylish Page

{%endblock%}



{% block scripts %}

    {{super()}}

    {{moment.include_moment()}}

{% endblock%}



{%block content %}

    <div class ="jumbotron text-center">

        Welcome {{first_name}}



    <p>{{moment(current_time).format('DD/MM/YY') }}</p>
    <p>{{moment(current_time).format('LLLL') }}</p>

    <p>You came here {{moment(current_time).fromNow(refresh=True)}}</p>    </div>

    <div class="col-xs-2">
        <form method="post" action="/logout">
        <input type="submit" value="Logout" class="form-control">

   </form>

</div>

{% endblock %}